.formCalcul .sectionCalcul{
    margin: 15px;
    background-color: rgb(134, 199, 221);
}
.formContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.buttonCalc{
    background: gray;
    color:aquamarine;
    width:40%;
    height: 30px;
    margin-left: 35%;
}
fieldset{
    color:rgb(59, 108, 110)
}
body{
    background: rgb(172, 239, 236);
}
.inpt{
    background: lightgray;
}
h1{
    color:blue;
}
.resultDiv{
    height: 80px;
    width: 60px;
}
.resultBrut{
    background: rgb(245, 83, 83);
    text-align: center;
    color: aliceblue;
}
.resultTaxes{
    background: grey;
    text-align: center;
    color: aliceblue;
}
.resultNet{
    background: green;
    text-align: center;
    color: aliceblue;
}