body{
    background-color: rgb(201, 212, 161);
}

h1{
    text-align: center;
}

#allUtilisateurs{
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.users-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}
.users-container img{
    border: solid 3px black;
}
.mypagination{
    text-align: center;
}
.mypagination .btn{
    background-color: rgb(89, 140, 202);
    color: antiquewhite;
    height:25px;
    width: 25px;
    margin: 15px;
    border-radius: 5px;
}
.mypagination .btn.active{
    background-color: rgb(17, 55, 101);
    color: rgb(239, 11, 11);
}
/* mon loader*/
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  